$size: 100px;
$gap: 1px;
$left: ($size + $gap);

@mixin main-font {
  font-family: Arial, sans-serif;
  font-size: 30px;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  @include main-font;
}

h1 {
  text-align: center;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: ($size + 2*$gap) * 7;
  margin: 0 auto;

  $days: 28, 29, 30, 31;

  @each $day in $days {
    &-#{$day} {
      @for $n from 1 through 4 {
        & :nth-child(#{$day+$n}) {
          display: none;
        }
      }
    }
  }

  $week:
    "mon" ($gap),
    "tue" (1*$left+$gap),
    "wed" (2*$left+$gap),
    "thu" (3*$left+$gap),
    "fri" (4*$left+$gap),
    "sat" (5*$left+$gap),
    "sun" (6*$left+$gap);

  @each $week-day, $margin in $week {
    &-#{$week-day} {
      & :first-child {
        margin-left: #{$margin};
      }
    }
  }

  & > div {
    @include center;
    margin: 0 0 $gap $gap;
    width: $size;
    height: $size;
    border: 1px solid #000;
    background-color: #eee;

    &:hover {
      background-color: pink;
      cursor: pointer;
    }

    @for $i from 1 through 31 {
      &:nth-child(#{$i})::before {
        content: "#{$i}";
      }
    }
  }
}
